<div class="container">
  <h1> Sign Up</h1>
    <%= erb :'_errors' %>
    <form action="/questions" method="post">
      <label for="title">Title:</label>
      <input type="text" name="question[title]" />

      <label for="body">Ask Your Question:</label>
      <input type="text" name="question[body]" />

      <label for="user">Author:</label>
      <input type="hidden" name="question[user]" va />

      <input type="submit" value="Create Account" />
    </form>

</div>
