<div class="container">
  <h1>Welcome to Overflow Clone!</h1>
  <ul class="question-list">
    <% @questions.each do |question|  %>
    <li class="question">
      <a href="/questions/<%= question.id %>"> <%= question.title %> </a>
      <br>
      <%= question.body %></li>
      <ul class ="answer-list">
        <%question.answers.each do |answer|%>
          <li class="answer"><%= answer.body%></li>
          <%end %>
      <% end %>
    </ul>
  </ul>
<a href="/questions/new">
    <input type="submit" value="Ask A New Question" />
</a>
</div>
