<div class="container">
  <h1>Welcome to Overflow Clone!</h1>
  <ul class="questions">
    <% @questions.each do |question|  %>
    <li class="question">
      <a href="/question/<%= question.id %>"> <%= question.title %> </a>
      <br>
      <br>
      <%= question.body %>
      <% end %>
  <form action="/">
      <input type="submit" value="Go to Google" />
  </form>


</ul>
</div>
