<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css?app=skills">
  <link rel="stylesheet" href="/css/application.css?app=skills">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js?app=skills"></script>

  <title></title>
</head>
<body>
  <header> <h3 > Overflow Clone</h3> </header>
  <button><a href="/">Home<a></button>
  <% if logged_in? %>
    <button><a href="/users/<%=current_user.id%>">User Profile<a></button>
      <br>
      <form class="" action="/logout" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input type="submit" value="Logout" />
      </form>
  <%  else %>
    <button><a href="/users/new">Sign up</a></button>
    <button><a href="/login">Login</a></button>
  <% end %>

  <%= yield %>
</body>
</html>
